<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content" style="margin-left:10px">
        <div class="splash">
            <div class="l-box splash-text" >
                <h2>Welcome to White-Wall</h2>
                <p style="border-bottom:1px solid silver">share your post-its on the wall.</p>
                <form method="post" action="/" class="pure-form pure-form-stacked" style="float:left;margin-bottom:20px;margin-right:30px">
                    <div class="pure-control-group" >
                        <input id="txtRoom" name="room" type="text" value="<%=room %>" placeholder="Wall Name"/>
                    </div>
                    <div class="pure-control-group" >
                        <input id="txtName" name="name" type="text" placeholder="Your Name"/>
                    </div>
                    <div class="pure-controls" style="margin-top:8px" >
                        <input type="submit" class="pure-button pure-button-primary" value="Enter" />
                    </div>
                </form>
                <div style="float:left;">
                    <img src="/images/jc_peckham_peace_wall_014_0.jpg" alt="Postits" style="width:90%;height:90%;max-width:569px;max-height:371px">
                </div>
                <br style="clear:both">
            </div>
        </div>
    </div>
  </body>
</html>